.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    width: 150px;
    padding: 5px 12px;
    border-radius: 4px;
    box-shadow: 0px 3px 3px rgb(114, 114, 60);
    background-color: yellow;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(114 114 60);
}

