.img {
    width: 200px;
}

.movie_card {
    display: flex;
    box-shadow: 0px 3px 3px rgb(114, 114, 60);
    margin-bottom: 20px;
    margin-top: 20px;
}

.box_description {
    margin-left: 30px;
}

.title,.text  {
    margin-bottom: 5px;
}

.item:not(:last-child) {
margin-bottom: 10px;
}